@import url(./reset.css);

@font-face {
  font-family: 'League Spartan';
  src: url('/fonts/LeagueSpartan-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Ephesis';
  src: url('/fonts/Ephesis-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


:root {
  /* COLORS */
  --color-background: #232946;
  --color-headline: #fffffe;
  --color-paragraph: #b8c1ec;
  --color-button: #eebbc3;
  --color-button-text: #232946;
  --color-input-bg: #fffffe;
  --color-background-secondary: #e3e3e3;
  --color-headline-secondary: #232946;
  --color-tag-bg: #232946;
  --color-tag-text: ##b8c1ec;

  --color-highlight: #d4939d;

  --gradient: linear-gradient(135deg, #232946 0%, #2f335f 40%, #d4939d 100%);
  /* INPUTS */
  --input-padding: 1rem 1.2rem;
  --input-border-radius: 3px;
  --input-font-size: 1.3em;
}

body {
  font-size: 1.15em;
  font-family: 'League Spartan';

}